<div *ngIf="parkingMeter" class="parking-details">
    <mat-card>
        <p class="mat-title">Parking meter id is {{ parkingMeter.id }}</p>
        <p class="mat-body-1">Address is {{ parkingMeter.address }}</p>
        <mat-card-content>Status: {{ parkingMeter.status }}</mat-card-content>
        <mat-card-content>Usages: {{ parkingMeter.usages }}</mat-card-content>
        <mat-divider></mat-divider>
        <mat-slide-toggle
            color="accent"
            [checked]="parkingMeter.status === 'Disabled'"
            (change)="update({ status: $event.checked ? 'Disabled' : 'Enabled' })"
            >Disable</mat-slide-toggle
        >
        <button
            color="accent"
            class="parking-details__button"
            mat-button
            (click)="update({ usages: parkingMeter.usages + 1 })"
            >Parking meter was used</button
        >
        <br />
        <button color="accent" class="parking-details__button" mat-button routerLink="../">Back to the list</button>
    </mat-card>
</div>
