<div class="parking-list">
    <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile *ngFor="let list of parkingList">
            <mat-card>
                <p class="mat-title">Parking meter id: <br />{{ list?.id }}</p>
                <p class="mat-body-1">Address is {{ list?.address }}</p>
                <a [routerLink]="list.id">See details of this park meter</a>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button color="accent" (click)="openCreateDialog()">Create new meter</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
