.parking-list {
    & mat-grid-list {
        width: 1500px;
    }

    & mat-card {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

    a {
        color: #69f0ae;
    }
}
